.card-body img {
    width: 100%;  /* カードボディいっぱいの幅 */
    height: auto;  /* 縦横比を維持 */
    margin: 0 auto; /* 中央寄せ */
}

.card-body img.rounded-circle {
    max-width: 100%;  /* 画像のサイズを適切に設定 */
    height: auto;  /* 幅と高さを揃えて完全な円にする */
    display: block;
    margin: 0 auto;
}

.card-body img.avatar {
    width: 55px !important;
    height: 55px !important;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.formgroup .formcontrol.custom-textarea {
    display: block;
    width: 10%;
    height: auto;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea{
    overflow: auto;
    resize: vertical;
    font-family: monospace;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    resize: -internal-textarea-auto;
    cursor: text;
    overflow-wrap: break-word;
    background-color: field;
    column-count: initial !important;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
    white-space: pre-wrap;
}

.highlight {
    background-color: #ff006a;
    font-weight: bold;
    padding: 0 2px;
    border-radius: 2px;
}
.hr1 {
    border: 1px;
    height: 1px;
    background-color: hsl(188, 63%, 42%);
    margin: 20px 0;
}
